@page "/ordentrabajo/{IdWorkOrder:int}/detalle/"


 @if (InfoVM.IsLoading)
 {
     <div class="d-flex flex-column justify-center align-center py-5">
         <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
         <MudText Class="ms-3">Cargando Información...</MudText>
     </div>
 }
 else if (InfoVM.ErrorMessage != null)
 {
     <MudAlert Severity="Severity.Error" Class="my-4">
         @InfoVM.ErrorMessage
     </MudAlert>
 }
 else
 {
     <MudGrid Justify="Justify.FlexStart" Spacing="2">
        <MudItem xs="12" lg="10" md="12" sm="12">
             <GeneralInformationWorkOrder 
                 OrderNumber="@InfoVM.WOInfo?.WorkOrder.OrderNum"
                 FarmWorkOrder="@InfoVM.WOInfo?.Farm.Name"
                 TaskWorkOrder="@InfoVM.WOInfo?.Task.Description"
                 SectorList="@InfoVM.WOInfo.SectorList"
                 DateWorkOrder="@InfoVM.WOInfo.WorkOrder.StartDate"
                 WorkOrderDescription="@InfoVM.WOInfo.WorkOrder.Description"
                 StateWorkOrder="@InfoVM.WOInfo.WorkOrder.State"/>
        </MudItem>
        <MudItem xs="12" lg="2" md="12" sm="12">
            <div class="d-flex h-100 w-100">
                <MudPaper Elevation="2" Class="p-3">
                    <DetailWorkOrderActions 
                        IdWorkOrder="@InfoVM.WOInfo.WorkOrder.Id"
                        WorkOrderState="@InfoVM.WOInfo.WorkOrder.State"/>
                </MudPaper>
            </div>
        </MudItem>

     </MudGrid>
    <MudGrid Justify="Justify.FlexStart" Spacing="2">
       <MudItem xs="12" lg="12">
            <MudPaper Elevation="2" class="mt-3 p-3">
              <ActivityLog />               
            </MudPaper>
       </MudItem>       
    </MudGrid>
 }

@code {
    [Inject] private GeneralInfoWorkOrderViewModel InfoVM { get; set; }

    [Parameter] public int IdWorkOrder { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InfoVM.LoadDataWorkOrderById(IdWorkOrder);
        await Task.Delay(1500);
        StateHasChanged();
    }
}
