<MudTable T="ShowWorkOrderDTO"
          Items="@WorkOrderList"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          SortLabel="sort"
          Dense="true"
          FixedFooter="true"
          Bordered="true">
    <HeaderContent>
        <MudTh Class="my-custom-header text-white">
            <MudTableSortLabel SortBy="new Func<ShowWorkOrderDTO, object>(x => int.Parse(x.OrderNum))">
                Orden N°
            </MudTableSortLabel>
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            <MudTableSortLabel SortBy="new Func<ShowWorkOrderDTO, object>(x => x.StartDate)">
                Fecha de Inicio
            </MudTableSortLabel>
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            <MudTableSortLabel SortBy="new Func<ShowWorkOrderDTO, object>(x => x.Status)">
                Estado
            </MudTableSortLabel>
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            <MudTableSortLabel SortBy="new Func<ShowWorkOrderDTO, object>(x => x.Farm.Name)">
                Finca
            </MudTableSortLabel>
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            Cuadros
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            <MudTableSortLabel SortBy="new Func<InfoWorkOrderDTO, object>(x => x.TaskOrder.Description)">
                Tarea
            </MudTableSortLabel>
        </MudTh>
        <MudTh Class="my-custom-header text-white">
            Acciones
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Orden N°">@context.OrderNum</MudTd>
        <MudTd DataLabel="Fecha de Inicio">@context.StartDate.Value.ToString("dd/MM/yyyy")</MudTd>
        <MudTd DataLabel="Estado">@context.Status</MudTd>
        <MudTd DataLabel="Finca">@context.Farm.Name</MudTd>
        <MudTd DataLabel="Cuadros">
            @if (context.SectorList != null && context.SectorList.Any())
            {
                @string.Join(" - ", context.SectorList.Select(s => s.SectorName))
            }
            else
            {
                <span>No hay cuadros relacionados</span>
            }
        </MudTd>
        <MudTd DataLabel="Tarea">@context.Task.Description</MudTd>
        <MudTd DataLabel="Acciones">
            <div class="d-flex justify-content-center align-items-center">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(() => OpenActivityForm(context.Status, context.Id))" Class="mr-2">
                    <MudIcon Icon="@Icons.Material.Filled.AddTask" Size="Size.Small" />
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => OpenWorkOrderDetails(context.Id))" Class="mr-2">
                    <MudIcon Icon="@Icons.Material.Filled.Visibility" Size="Size.Small"/>
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => GeneratePDF(context))">
                    <MudIcon Icon="@Icons.Custom.FileFormats.FilePdf" Size="Size.Small" />
                </MudButton>
            </div>
        </MudTd>
    </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 20, }" />
        </PagerContent>
    <FooterContent>
        <MudTd>
            <div class="d-flex justify-content-start align-items-center">
                <MudText Typo="Typo.body2" Class="mr-2">Total de órdenes: @WorkOrderList.Count()</MudText>
            </div>
        </MudTd>
    </FooterContent>
</MudTable>
<style>
    .my-custom-header {
        background-color: #00796B;
        color: white;
        font-size: 1.1em;
    }
</style>
