<MudDataGrid T="InfoWorkOrderDTO" Items="@WorkOrderList" SortMode="SortMode.Multiple" Filterable="false" HeaderClass="my-custom-header"
             Hover="true">
    <Columns>
        <PropertyColumn Property="x => x.CreatedDate" Title="Fecha Creación" Format="dd/MM/yyyy"/>
        <PropertyColumn Property="x => x.StartDate" Title="Fecha Inicio" Format="dd/MM/yyyy" />
        <PropertyColumn Property="x => x.Status" Title="Estado" />
        <PropertyColumn Property="x => x.OrderNum" Title="N° Orden de Trabajo" />
        <PropertyColumn Property="x => x.FarmOrder.Name" Title="Finca" />
        <TemplateColumn Title="Cuadros" Class="d-flex justify-start">
            <CellTemplate>
                @{
                    var relatedSectors = (context.Item as InfoWorkOrderDTO)?.RelationatedSector;

                    if (relatedSectors != null && relatedSectors.Any())
                    {
                        @string.Join(" - ", relatedSectors.Select(s => s.SectorName))
                    }
                    else
                    {
                        <span>No hay cuadros relacionados</span>
                    }
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.TaskOrder.Description" Title="Tarea" />
        <TemplateColumn Title="Acciones" Class="d-flex justify-start">
            <CellTemplate>
                <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick="@(() => OpenActivityForm(context.Item.Status, context.Item.Id))" Class="mr-2">
                    <MudIcon Icon="@Icons.Material.Filled.AddTask" Size="Size.Small" />
                </MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Info" OnClick="(() => OpenWorkOrderDetails(context.Item.Id))">
                    <MudIcon Icon="@Icons.Material.Filled.Visibility" Size="Size.Small"/>
                </MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

</MudDataGrid>
@code {
    [Parameter] public IEnumerable<InfoWorkOrderDTO> WorkOrderList { get; set; }

    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private ISnackbar Snackbar { get; set; }

    public void OpenActivityForm(string woSelectedStatus, int idWorkOrder)
    {
        if (woSelectedStatus == "Activo")
        {
            NavigationManager.NavigateTo($"/actividad/registrar/{idWorkOrder}");
        }
        else
        {
            Snackbar.Add($"La orden de trabajo N° {idWorkOrder} no se encuentra activa.", Severity.Warning);
        }
    }
    public void OpenWorkOrderDetails(int idWorkOrder)
    {
        NavigationManager.NavigateTo($"/ordentrabajo/{idWorkOrder}/detalle/");
    }
}
