<div class="container-fluid shadow rounded p-4 bg-color-white">
    <MudGrid>
        <MudItem lg="12">
            <MudText Typo="Typo.h4">Nueva Orden de Trabajo</MudText>
            <MudText Typo="Typo.subtitle1">Complete la información necesaria para crear la orden</MudText>
        </MudItem>
    </MudGrid>

    <MudDivider Style="border-color: black;" />

    <MudGrid Spacing="3" Justify="Justify.FlexStart" Class="mt-3">
        <MudItem xs="12" lg="6">
            <MudText Typo="Typo.h6">Finca</MudText>
            <MudSelect T="int?" Margin="Margin.Dense" FullWidth="true"
                       FitContent="true" Label="Seleccione la finca" Variant="Variant.Outlined" Clearable
                       ValueChanged="OnFincaChanged">
                @foreach (var farm in FarmList)
                {
                    <MudSelectItem T="int?" Value="@farm.Id">@farm.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>

        <MudItem xs="12" lg="6">
            <MudText Typo="Typo.h6">Tarea</MudText>
            <MudSelect @bind-Value="_selectedTask" Margin="Margin.Dense" FullWidth="true" FitContent="true" Label="Seleccione la tarea" Variant="Variant.Outlined" Clearable>
                <MudSelectItem T="int?" Value="1">Aplicación de fertilizantes</MudSelectItem>
                <MudSelectItem T="int?" Value="2">Aplicación de herbicidas</MudSelectItem>
                <MudSelectItem T="int?" Value="3">Tratameinto fitosanitario</MudSelectItem>
            </MudSelect>
        </MudItem>

        @if(_selectedFinca != null && _selectedFinca != 0)
        {
            <MudItem xs="12" class="@_hidden">
                <MudText Typo="Typo.h6">Sectores de la finca</MudText>
            </MudItem>
        }

        <MudFlexBreak />

        <MudItem xs="12" lg="6">
            <MudGrid Justify="Justify.SpaceEvenly">
                <MudItem xs="12" sm="6" lg="5">
                    @foreach (var sector in ColumnSector1)
                    {
                        <MudCheckBox T="bool"
                                     @bind-Value="@sector.Selected"
                                     Label="@sector.SectorName"
                                     CheckedChanged="@(async (bool value) => { sector.Selected = value; await OnSelectionChanged(); })"
                                     Color="Color.Primary" />
                    }
                </MudItem>

                <MudItem xs="12" sm="6" lg="5">
                    @foreach (var sector in ColumSector2)
                    {

                        <MudCheckBox T="bool"
                                     @bind-Value="@sector.Selected"
                                     Label="@sector.SectorName"
                                     CheckedChanged="@(async (bool value) => { sector.Selected = value; await OnSelectionChanged(); })"
                                     Color="Color.Primary" />
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>
@code{
    [Parameter]
    public EventCallback<List<DetailSectorFarmDTO>> OnSectoresSeleccionChanged { get; set; }

    private string _hidden = "hidden";

    private int? _selectedFinca;
    private int? _selectedTask;

    private List<DetailSectorFarmDTO> SelectedSectorList { get; set; } = new();

    private List<FarmDTO> FarmList = new()
    {
        new() { Id = 1, Name = "Finca San Carlos" },
        new() { Id = 2, Name = "Finca Goudge" },
        new() { Id = 3, Name = "Finca Doña Blanca" },
        new() { Id = 4, Name = "Finca Las Aguaditas" }
    };

    private List<DetailSectorFarmDTO> CurrentFarmSector = new();
    private List<DetailSectorFarmDTO> ColumnSector1 = new();
    private List<DetailSectorFarmDTO> ColumSector2 = new();

    private async Task OnFincaChanged(int? farmId)
    {
        _selectedFinca = farmId;
        SelectedSectorList.Clear();
        ColumnSector1.Clear();
        ColumSector2.Clear();

        CurrentFarmSector = farmId switch
        {
            1 => new()
            {
                new() { Id = 1, SectorName = "Cuadro A" },
                new() { Id = 2, SectorName = "Cuadro B" },
                new() { Id = 3, SectorName = "Cuadro C" },
                new() { Id = 4, SectorName = "Cuadro D" },
            },
            2 => new()
            {
                new() { Id = 5, SectorName = "Cuadro E" },
                new() { Id = 6, SectorName = "Cuadro F" },
                new() { Id = 7, SectorName = "Cuadro G" }
            },
            3 => new()
            {
                new() { Id = 8, SectorName = "Cuadro H" },
                new() { Id = 9, SectorName = "Cuadro I" }
            },
            4 => new()
            {
                new() { Id = 8, SectorName = "Cuadro J" },
                new() { Id = 9, SectorName = "Cuadro K" },
                new() { Id = 10, SectorName = "Cuadro L" }
            },
            _ => new()
        };

        for (int i = 0; i < CurrentFarmSector.Count; i++)
        {
            if (i % 2 == 0) ColumnSector1.Add(CurrentFarmSector[i]);
            else ColumSector2.Add(CurrentFarmSector[i]);
        }

        await NotificarCambio();
        StateHasChanged();
    }

    private async Task OnSelectionChanged()
    {
        SelectedSectorList = CurrentFarmSector.Where(s => s.Selected).ToList();
        await NotificarCambio();
    }

    private async Task NotificarCambio()
    {
        if (OnSectoresSeleccionChanged.HasDelegate)
            await OnSectoresSeleccionChanged.InvokeAsync(SelectedSectorList);
    }
}
