<div class="container-fluid shadow p-3 border rounded mb-1">
    <div class="d-flex justify-content-center align-item-center">
        <MudIcon Icon="@Icons.Material.Filled.FilterAlt" Size="Size.Large" />
        <MudText Typo="Typo.h5"><b>Filtros de busqueda</b></MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Medium" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudIconButton>
    </div>
    <MudDivider Class="my-1" Style="border-color: black;" />
    <div>
        <MudTextField @bind-Value="Search" Label="Buscar por n° de orden..." Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Dark" />
        <MudCollapse Expanded="_expanded">
            <MudGrid Spacing="4" Justify="Justify.FlexStart" Class="mt-4 g-2">
                <MudItem xs="12" lg="2">
                    <MudSelect @bind-Value="_selectedFinca"
                               Label="Finca"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               Clearable
                               Adornment="Adornment.End"
                               AdornmentIcon="@Icons.Material.Filled.LocationOn"
                               AdornmentColor="Color.Error"
                               ShrinkLabel>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" lg="2">
                    <MudSelect @bind-Value="_selectedTarea"
                               Label="Tarea"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               Clearable
                               Adornment="Adornment.End"
                               AdornmentIcon="@Icons.Material.Filled.Dashboard"
                               AdornmentColor="Color.Info"
                               ShrinkLabel>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" lg="2">
                    <MudSelect @bind-Value="_selectedEstado"
                               Label="Estado"
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               Clearable
                               Adornment="Adornment.End"
                               AdornmentIcon="@Icons.Material.Filled.PendingActions"
                               AdornmentColor="Color.Warning"
                               ShrinkLabel>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" lg="6">
                    <MudDateRangePicker @ref="_picker" Label="Fecha" @bind-DateRange="_dateRange"
                                        AutoClose="true" PickerVariant="PickerVariant.Dialog" 
                                        Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Dark">
                        <PickerActions>
                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.ClearAsync())">Eliminar</MudButton>
                            <MudButton OnClick="@(() => _picker.CloseAsync(false))">Cancelar</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.CloseAsync())">Ok</MudButton>
                        </PickerActions>
                    </MudDateRangePicker>
                </MudItem>
            </MudGrid>
        </MudCollapse>
    </div>
    <MudGrid Justify="Justify.FlexEnd" Class="mt-2 g-3">
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Search" Color="Color.Primary" Size="Size.Small">Buscar</MudButton>
    </MudGrid>
</div>

@code{
    private bool _expanded = false;
    private string _selectedFinca;
    private string _selectedTarea;
    private string _selectedEstado;
    private MudDateRangePicker _picker;
    private DateRange _dateRange = new DateRange();

    public string Search { get; set; }

    void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}