@page "/actividad/registrar/{WorkOrderId:int}"

<PageTitle>Registro de actividades</PageTitle>

    @if (InfoVM.IsLoading || InfoVM.WOInfo == null)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        <MudText Typo="Typo.h6">Cargando información de la orden de trabajo...</MudText>
    }
    else
    {
        <GeneralInformationWorkOrder InfoWO="InfoVM.WOInfo" />
        <MudForm @ref="form" Model="ViewModel" Validation="@(ValidatorVM.ValidateValue)">
            <MudPaper Elevation="2" class="container-fluid  border-light p-4 mt-3">
                <MudGrid Justify="Justify.FlexStart">
                    <MudItem lg="12" >
                       <MudText Typo="Typo.h5" class="mb-2"><MudIcon Icon="@Icons.Material.Outlined.AppRegistration" Size="Size.Large" style="color: #3F8891" /> Registro de actividad</MudText>
                        <MudDivider Style="border-color: black;" />
                    </MudItem>
                    <MudItem xs="12" lg="12">
                        <MudGrid Justify="Justify.FlexStart">
                            <MudTable T="AddDetailWorkOrderDTO"></MudTable>
                            <MudItem xs="12" lg="6"> 
                                <MudText Typo="Typo.h6">Operario</MudText>
                                <MudSelect T="int" Margin="Margin.Dense" FullWidth="true"
                                          @bind-Value="ViewModel.EmployeeId"
                                           Variant="Variant.Outlined" Clearable
                                           AnchorOrigin="Origin.BottomRight"
                                           TransformOrigin="Origin.TopRight"
                                           For="@(() => ViewModel.EmployeeId)">
                                    <MudSelectItem T="int" Value="0" Disabled="true">Seleccione una opción</MudSelectItem>
                                   @foreach (var worker in ViewModel.Employees.OrderBy(x => x.Name))
                                   {
                                           <MudSelectItem T="int" Value="@worker.Id">@worker.Name @worker.LastName</MudSelectItem>
                                   }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" lg="3">
                                <MudText Typo="Typo.h6">Fecha</MudText>
                                <MudDatePicker @bind-value="ViewModel.ActivityDate" Placeholder="@ViewModel.ActivityDate.Value.ToShortDateString()"
                                              DateChanged="@((DateTime? newDate) => ViewModel.ActivityDate = newDate)"
                                              ShowToolbar="false" Style="margin-top:10px"
                                              AnchorOrigin="Origin.BottomRight"
                                              IsDateDisabledFunc="@((DateTime dt)=>(DateOnly.FromDateTime(ViewModel.ActivityDate.Value) != DateOnly.FromDateTime(dt)))"
                                              TransformOrigin="Origin.TopRight"
                                              AdditionalDateClassesFunc="@((DateTime dt)=> ((int)dt.DayOfWeek == 0 ? "red-text text-accent-4" : ""))" 
                                              For="@(() => ViewModel.ActivityDate)"/>
                            </MudItem>
                            <MudFlexBreak/>
                            <MudItem xs="12" lg="12">
                                <div class="d-flex mb-2">
                                   <MudText Typo="Typo.h6"><MudIcon Icon="@Icons.Material.Filled.SpaceDashboard"
                                       Style="color: #FF8D5F"/>Cuadros trabajados</MudText>
                                    <MudSpacer />
                                    <MudButton Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               Size="Size.Medium"
                                               StartIcon="@Icons.Material.Filled.Add"
                                               Class="add-sector-btn"
                                               OnClick="AddDetailWorkOrder"
                                               Disabled="@IsAddButtonDisabled">
                                               Agregar Cuadro
                                    </MudButton>
                                </div>
                                <MudDivider Style="border-color: black;" />
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </MudPaper>
            <MudTable T="AddDetailWorkOrderDTO" Breakpoint="Breakpoint.Sm" Items="ViewModel.ActivityDetails" Hover="true" Bordered="true" Dense="true" Class="mt-3">
                <HeaderContent>
                    <MudTh Class="my-custom-header text-white">Cuadro de trabajo</MudTh>
                    <MudTh Class="my-custom-header text-white">Horas trabajadas</MudTh>
                    <MudTh Class="my-custom-header text-white">Rendimiento</MudTh>
                    <MudTh Class="my-custom-header text-white">Observaciones</MudTh>
                    <MudTh Class="my-custom-header text-white">Eliminar</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Cuadro de trabajo">
                        <MudForm Model="context" Validation="@(ValidatorAR.ValidateValue)">
                            <MudSelect T="int" Margin="Margin.Dense" FullWidth="true"
                                       Variant="Variant.Text" Clearable
                                       AnchorOrigin="Origin.BottomRight"
                                       TransformOrigin="Origin.TopRight"
                                       @bind-Value="context.Info.SectorWorkedId"
                                       For="@(() => context.Info.SectorWorkedId)">
                                <MudSelectItem T="int" Value="0" Disabled="true">Seleccione una opción</MudSelectItem>
                                @foreach (var sector in GetAvailableSectors(context.Info.SectorWorkedId)) 
                                {
                                    <MudSelectItem T="int" Value="@sector.Id">@sector.SectorName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudForm>
                    </MudTd>
                    <MudTd DataLabel="Horas trabajadas">
                        <MudForm Model="context" Validation="@(ValidatorAR.ValidateValue)">
                            <MudNumericField @bind-Value="context.Info.WorkedHours"
                                             For="@(() => context.Info.WorkedHours)"
                                             T="decimal"
                                             Margin="Margin.Dense" />
                        </MudForm>
                    </MudTd>
                    <MudTd DataLabel="Rendimiento diario">
                        <MudForm Model="context" Validation="@(ValidatorAR.ValidateValue)">
                            <MudNumericField @bind-Value="context.Info.Performance"
                                             For="@(() => context.Info.Performance)"
                                             T="decimal"
                                             Margin="Margin.Dense" />
                        </MudForm>
                    </MudTd>
                    <MudTd DataLabel="Observaciones">
                        <MudForm Model="context" Validation="@(ValidatorAR.ValidateValue)">
                            <MudTextField T="string"
                                          @bind-Value="context.Info.Description"
                                          For="@(() => context.Info.Description)"
                                          Placeholder="Observaciones de la actividad"
                                          Variant="Variant.Text" Margin="Margin.Dense"
                                          FullWidth="true" Lines="1" />
                        </MudForm>
                    </MudTd>
                    <MudTd DataLabel="Eliminar">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Size="Size.Medium"
                                       OnClick="@(() => RemoveDetailWorkOrder(context))" />
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudForm>
        <div class="container-fluid shadow mt-3 rounded bg-color-white p-2 mb-4">
            <MudGrid Spacing="1" Justify="Justify.FlexEnd">
                <MudItem>
                    <MudButton Href="/ordenestrabajo"
                               Variant="Variant.Filled"
                               Color="Color.Error"
                               Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.Cancel">Cancelar</MudButton>
                </MudItem>
                <MudItem>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.Save"
                               OnClick="HandleSave">Guardar</MudButton>
                </MudItem>
            </MudGrid>
        </div>
    }