<div class="container-fluid bg-color-white p-4 rounded shadow mt-3">
    <div class="d-flex mb-2">
        <MudText Typo="Typo.h4">Lista de materiales</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Size="Size.Small"
                   StartIcon="@Icons.Material.Filled.Add"
                   @onclick="AddMaterial">Agregar Insumo</MudButton>
    </div>
    <div>
        @if (MaterialList.Count() != 0)
        {
            <MudDivider style="border-color: black;" />
        }
        <MudGrid Spacing="2" Justify="Justify.Center" Class="mt-2">
            @foreach (var material in MaterialList)
            {
                <MudItem xs="12" lg="4">
                    <MudTextField @bind-Value="material.Name" Label="Nombre del material" Variant="Variant.Outlined" Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" lg="1">
                    <MudTextField @bind-Value="material.Quantity" Label="Cantidad" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="InputType.Number" />
                </MudItem>
                <MudItem xs="12" lg="3">
                    <MudSelect T="string" @bind-Value="material.Unit" Label="Unidad de medida" Margin="Margin.Dense" Variant="Variant.Outlined" Clearable>
                        <MudSelectItem T="string" Value="@("Kg")">Kilogramos</MudSelectItem>
                        <MudSelectItem T="string" Value="@("Gr")">Gramos</MudSelectItem>
                        <MudSelectItem T="string" Value="@("Lts")">Litros</MudSelectItem>
                        <MudSelectItem T="string" Value="@("m3")">Metros cúbicos</MudSelectItem>
                        <MudSelectItem T="string" Value="@("ml")">Mililitros</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" lg="1" Class="btnDelete">
                    <MudIconButton Variant="Variant.Filled"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   Icon="@Icons.Material.Filled.Delete"
                                   @onclick="@(() => RemoveMaterial(material))" />
                </MudItem>
            }
        </MudGrid>
    </div>
</div>
<style>
    .btnDelete {
        margin-top: 12px;
    }
</style>
@code {
    private string _materialName = string.Empty;
    private string _materialUnit = string.Empty;

    private List<MaterialOrderDTO> MaterialList = new List<MaterialOrderDTO>();

    private void AddMaterial()
    {
        MaterialList.Add(new MaterialOrderDTO());
        StateHasChanged();
    }
    private void RemoveMaterial(MaterialOrderDTO material)
    {
        if (MaterialList.Count != 0)
        {
            MaterialList.Remove(material);
            StateHasChanged();
        }
    }
}