<div class="container-fluid bg-color-white p-4 rounded shadow mt-3">
    <div class="d-flex mb-2">
        
        <MudText Typo="Typo.h4">Lista de materiales</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled" class="me-2" style="height: 35px;"
                   Color="Color.Info"
                   Size="Size.Small"
                   StartIcon="@Icons.Material.Filled.Add"
                   @onclick="AddMachine" Disabled="_disableButtonMachine">Agregar Maquinaria</MudButton>
        <MudButton Variant="Variant.Filled" style="height: 35px;"
                   Color="Color.Primary"
                   Size="Size.Small"
                   StartIcon="@Icons.Material.Filled.Add"
                   @onclick="AddMaterial">Agregar Insumo</MudButton>
    </div>
    <div>
        <div class="align-items-center justify-content-center">
            @if (ViewModel.Machine != null )
            {
                <MudDivider style="border-color: black;" />

                <MudGrid Spacing="2" Justify="Justify.FlexStart" Class="mt-2">
                    <MudItem xs="6" lg="3" >
                        <MudText Typo="Typo.caption">Máquinaria:</MudText>
                        <MudSelect T="int"
                                   @bind-Value="_selectedMachineId"
                                   @bind-Value:event="onchange"
                                   ValueChanged="OnMachineSelected"                  
                                   Margin="Margin.Dense"
                                   Variant="Variant.Outlined"
                                   AnchorOrigin="Origin.BottomCenter"
                                   TransformOrigin="Origin.TopCenter">
                            <MudSelectItem T="int" Value="0" Disabled="true">Seleccione un elemento</MudSelectItem>                        
                            @foreach (var machine in ViewModel.MachineList)
                            {
                                <MudSelectItem T="int" Value="@machine.Id">@machine.Name</MudSelectItem>
                            }                        
                        </MudSelect>
                    </MudItem>                    
                    @if (ViewModel.Machine.Id != 0)
                    {
                        <MudItem xs="1" lg="2">
                            <MudText Typo="Typo.caption">Dosis:</MudText>
                            <MudTextField T="decimal" @bind-Value="ViewModel.Dose" Margin="Margin.Dense" Style="margin-top: 10px"></MudTextField>
                        </MudItem>
                        <MudItem xs="1" lg="2">
                            <MudText Typo="Typo.caption">Unidad</MudText>
                            <MudSelect T="string" @bind-Value="ViewModel.DoseUnit" Margin="Margin.Dense"
                                AnchorOrigin="Origin.BottomCenter"
                                TransformOrigin="Origin.TopCenter" Style="margin-top: 14px">
                                <MudSelectItem Value="@("Kg")">Kg</MudSelectItem>
                                <MudSelectItem Value="@("gr")">Gr</MudSelectItem>
                                <MudSelectItem Value="@("lts")">Lts</MudSelectItem>
                                <MudSelectItem Value="@("cc")">cc</MudSelectItem>
                            </MudSelect>
                        </MudItem>
                    }
                    <MudSpacer/>
                    <MudItem xs="12" lg="1" Class="btnDelete">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Size="Size.Medium"
                                       @onclick="@(() => RemoveMachine())"/>
                    </MudItem>
                </MudGrid>
            }
        </div>
        
        @if (ViewModel.Details.Count != 0)
        {
            <MudDivider style="border-color: black;" Class="mt-3"/>
        }
        <MudGrid Spacing="2" Justify="Justify.FlexStart" Class="mt-2">
            @foreach (var detalle in ViewModel.Details)
            {
                <MudItem xs="12" lg="3">
                    <MudSelect T="int"
                               @bind-Value="detalle.CategoryId"                               
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               AnchorOrigin="Origin.BottomCenter"
                               TransformOrigin="Origin.TopCenter"
                               Clearable>
                        <MudSelectItem T="int" Value="0" Disabled="true">Seleccione una categoría</MudSelectItem>
                        @if (ViewModel.Categories != null)
                        {
                            @foreach (var category in ViewModel.Categories)
                            {
                                <MudSelectItem T="int" Value="@category.Id">@category.Description</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" lg="3">
                    <MudSelect T="int"
                               @bind-Value="detalle.MaterialId"                               
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               AnchorOrigin="Origin.BottomCenter"
                               TransformOrigin="Origin.TopCenter"                               
                               Clearable>
                        <MudSelectItem T="int" Value="0" Disabled="true">Seleccione una producto</MudSelectItem>
                        @foreach (var m in ViewModel.Materials.Where(m => m.CategoryId == detalle.CategoryId))
                        {
                            <MudSelectItem T="int" Value="@m.Id">@m.ArticleName - @m.CommercialName</MudSelectItem>
                        }
                    </MudSelect>
                    <MudText Typo="Typo.caption">Plaga/Enfermedad</MudText>
                    <MudSelect T="int"
                               @bind-Value="_selectedPlagueDisease"                               
                               Margin="Margin.Dense"
                               Variant="Variant.Outlined"
                               AnchorOrigin="Origin.BottomCenter"
                               TransformOrigin="Origin.TopCenter"                               
                               Clearable Disabled="true">
                        <MudSelectItem T="int" Value="0" Disabled="true">Seleccione un elemento</MudSelectItem>
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" lg="2">
                    <MudTextField T="decimal" @bind-Value="detalle.AmountRequired" Label="Cantidad Requerida/Dosis" Margin="Margin.Dense" />
                    <MudSelect T="string" @bind-Value="detalle.AmountRequiredUnit" Label="Unidad" Margin="Margin.Dense"
                        AnchorOrigin="Origin.BottomCenter"
                        TransformOrigin="Origin.TopCenter">
                        <MudSelectItem Value="@("Kg")">Kg</MudSelectItem>
                        <MudSelectItem Value="@("gr")">Gr</MudSelectItem>
                        <MudSelectItem Value="@("lts")">Lts</MudSelectItem>
                        <MudSelectItem Value="@("cc")">cc</MudSelectItem>
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" lg="2">
                    <MudTextField T="decimal" @bind-Value="detalle.EstimatedAmount" Label="Cantidad total estimada" Margin="Margin.Dense" />
                    <MudSelect T="string" @bind-Value="detalle.EstimatedAmountUnit" Label="Unidad" Margin="Margin.Dense"
                        AnchorOrigin="Origin.BottomCenter"
                        TransformOrigin="Origin.TopCenter">
                        <MudSelectItem Value="@("Kg")">Kg</MudSelectItem>
                        <MudSelectItem Value="@("gr")">Gr</MudSelectItem>
                        <MudSelectItem Value="@("lts")">Lts</MudSelectItem>
                        <MudSelectItem Value="@("cc")">cc</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudSpacer/>
                <MudItem xs="12" lg="1" Class="btnDelete">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   Variant="Variant.Filled"
                                   Size="Size.Medium"
                                   @onclick="@(() => RemoveMaterial(detalle))"
                                   Tooltip="Eliminar material" />
                </MudItem>
                <MudDivider style="border-color: black;" Class="mt-3 mb-3" />
            }
        </MudGrid>
    </div>
</div>
<style>
    .btnDelete {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
</style>
@code {
    private int _selectedPlagueDisease;
    private int _selectedMachineId;
    private bool _disableButtonMachine = false;

    [Parameter] public NewRecipeViewModel ViewModel { get; set; }

    private void OnMachineSelected(int id)
    {
        _selectedMachineId = id;
        var machine = ViewModel.MachineList?.FirstOrDefault(m => m.Id == id);
        if (machine is not null)
        {
            ViewModel.Machine = machine;
            ViewModel.MachineId = machine.Id; // opcional, si usás IdMaquina en el DTO
        }
    }

    private void AddMaterial()
    {
        ViewModel.Details.Add(new DetailRecipeDTO());
    }

    private void RemoveMaterial(DetailRecipeDTO material)
    {
        ViewModel.Details.Remove(material);
    }
    private void RemoveMachine()
    {
        ViewModel.Machine = null;
        _selectedMachineId = 0;
        _disableButtonMachine = false;
    }
    private void AddMachine()
    {
        ViewModel.Machine = new MachineRecipeDTO();
        _disableButtonMachine = true;
    }
}